.workout-info {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    @extend %font-title;
  }

  &__subtitle {
    margin: 0;
    padding-top: 50px;
    max-width: 460px;
    width: 100%;
    @extend %font-subtitle;
    color: $color-fst;
  }
}