.choice-bike-header {
  display: flex;
  justify-content: space-between;

  &__title {
    margin: 0;
    @include font(normal, 700, 55px, 60px);
    letter-spacing: -.5px;
  }

  @media screen and (max-width: 320px) {
    flex-direction: column;
  }

}