.lead {
  height: 856px;
  width: 100%;
  background-image: url(.../../../images/road-Intro.jpg);
  background-repeat: no-repeat;
  background-size: 610px 836px;
  background-position: right bottom;
  position: relative;
  z-index: 1;
}