.choice-bike-menu {
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 40px;
  align-items: flex-end;
  list-style: none;

  &__button {
    padding: 0;
    border: none;
    background-color: inherit;
    @include font(normal, 400, 18px, 28px);
    opacity: .7;
    color: $color-fst;
    cursor: url(.../../../images/icons/icon-cursor.svg), auto;
    transition: opacity .1s linear;

    &_dark {
      color: $color-as-n;
    }

    &:hover {
      opacity: .5;
    }

    &_activ {
      @include font(normal, 600, 18px, 28px);
      opacity: 1;
      transition: opacity .1s linear;

      &:hover {
        opacity: .75;
      }
    }
  }

  @media screen and (max-width: 1110px) {
    display: none;

    &__button {
      @include font(normal, 600, 11px, 14px);
    }
  }

  @media screen and (max-width: 320px) {
    display: none;

    &__button {
      @include font(normal, 600, 11px, 14px);
    }
  }
}