.choice-bike-menu {
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 40px;
  align-items: flex-end;
  list-style: none;

  &__link {
    text-decoration: none;
    @extend %font-menu-link;
    color: $color-fst;
    cursor: url(.../../../images/icons/icon-cursor.svg), auto;
    transition: opacity .1s linear;

    &:hover {
      opacity: .6;
    }

    &_activ {
      @extend %font-menu-link-activ;
      color: $color-ft;
      transition: opacity .1s linear;

      &:hover {
        opacity: .75;
      }
    }
  }
}