.bike-card {
  margin: 0;
  width: 380px;
  height: 380px;
  box-shadow: 0 20px 140px 0px rgba(0, 0, 0, 0.06);
  border-radius: 20px;

  &__photo {
    display: block;
    margin: 20px 20px;
    width: 340px;
    height: 340px;
  }

  &__caption {
    padding-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}