.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: $color-back;
  position: sticky;
  top: 0;
  z-index: 999;

  @media screen and (max-width: 320px) {}
}