.bike-cards {
  margin: 0;
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  /*justify-content: space-between;*/
  gap: 30px;
  box-sizing: border-box;

  @media screen and (max-width: 1280px) {
    gap: 15px;
  }

  @media screen and (max-width: 320px) {
    height: 306px;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}