.signature {
  &__quote-author {
    margin: 0;
    @extend %font-autor;
  }

  &__quote-author-subline {
    margin: 0;
    padding-top: 6px;
    @extend %font-autor-subline;
    color: $color-fst;
  }
}