.info {
  padding-top: 167px;
  display: flex;

  &__link {
    text-decoration: none;
    color: #151515;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }

  &__pointer {
    width: 132px;
    height: 2px;
    padding-left: 30px;
    background: #D7D4D4;
    justify-content: start;
  }
}