.row-buttons {
  margin: 50px auto 60px 0;
  display: flex;
  gap: 20px;

  &__button {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: $color-greybtn;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: url(.../../../images/icons/icon-cursor.svg), auto;
    transition: opacity .1s linear;

    &_dark {
      background-color: $color-greenbtn-n;
    }

    &:hover {
      opacity: .6;
    }

    &_left {
      background-image: url(.../../../images/icons/arrow-left.svg);
    }

    &_right {
      background-image: url(.../../../images/icons/arrow-right.svg);
    }

    &_left-dark {
      background-image: url(.../../../images/icons/arrow-left-black.svg);
    }

    &_right-dark {
      background-image: url(.../../../images/icons/arrow-right-black.svg);
    }
  }

  @media screen and (max-width: 320px) {
    margin: 0;
    position: absolute;
    top: 87px;
    right: 18px;

    &__button {
      width: 24px;
      height: 24px;

      &_left {
        width: 5px;
        height: 10px;

      }

      &_right {
        width: 5px;
        height: 10px;

      }
    }
  }
}