.motivation {
  padding: 120px 120px 60px;
  box-sizing: border-box;
  display: flex;

  &__photo {
    max-width: 650px;
    width: 100%;
    display: block;
  }

  @media screen and (max-width: 320px) {
    padding: 40px 18px 40px;
    flex-direction: column;

    &::before {
      content: '';
      margin-bottom: 20px;
      width: 284px;
      height: 0;
      display: inline-block;
      align-self: center;
      border: 1px solid $color-brd;
    }

    &__photo {
      max-width: 284px;
      width: 100%;
    }
  }
}