.row-photo {
  padding-top: 80px;
  padding-bottom: 160px;
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 1;

  &__photo {
    max-width: 650px;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }

  &__icon {
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: 176px;
    z-index: 3;

    &_sharp-turn {
      background-image: url(.../../../images/icons/icon-sharp-turn.svg);
    }

    &_off-road {
      background-image: url(.../../../images/icons/icon-off-road.svg);
    }

    &_rough-road {
      background-image: url(.../../../images/icons/icon-smooth-road.svg);
    }
  }

  @media screen and (max-width: 1110px) {
    padding-top: 0;
    display: block;
    position: absolute;
    top: 120px;
    z-index: 1;

    &__wrapper {

      &:last-child {
        display: none;
      }
    }

    &__photo {
      max-width: 550px;
      width: 100%;
      box-sizing: border-box;
      display: block;
    }

    &__icon {
      width: 75px;
      height: 33px;
      background-size: 100%;

      z-index: 3;
    }
  }

  @media screen and (max-width: 320px) {
    padding-top: 0;
    display: block;
    position: absolute;
    top: 160px;
    z-index: 1;

    &__wrapper {

      &:last-child {
        display: none;
      }
    }

    &__photo {
      max-width: 284px;
      width: 100%;
      box-sizing: border-box;
      display: block;
    }

    &__icon {
      width: 70px;
      height: 28px;
      background-size: 100%;

      z-index: 3;
    }
  }
}