.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 120px 28px 0;

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 34px;
  }

  &__link {
    text-decoration: none;
    @include font(normal, 500, 14px, 18px);
    color: $color-ft;
    cursor: url(.../../../images/icons/icon-cursor.svg), auto;
    transition: opacity .1s linear;

    &:hover {
      opacity: .75;
    }
  }

  @media screen and (max-width: 320px) {
    background: url(.../../../images/icons/icon-burger.svg) no-repeat center;
    background-size: contain;
  }
}