.workout-links {
  margin: 0;
  padding: 182px 0 0;
  list-style: none;
  display: flex;
  gap: 30px;

  &__link {
    @include font(normal, 600, 18px, 28px);
    color: $color-ft;
    text-decoration: none;
    cursor: url(.../../../images/icons/icon-cursor.svg), auto;
    transition: opacity .1s linear;

    &:hover {
      opacity: .75;
    }
  }

  @media screen and (max-width: 320px) {
    padding: 40px 0 0;

    &__link {
      @include font(normal, 600, 14px, 20px);
    }
  }
}