.footer {
  padding: 80px 120px 60px;
  background-color: $color-back-f;

  &__title {
    margin: 0;
    width: 229px;
    @include font(normal, 600, 24px, 32px);
  }

  &__form {
    max-width: 360px;
    width: 100%;
    padding-top: 50px;
    position: relative;
    z-index: 1;
  }

  &__input {
    max-width: 360px;
    width: 100%;
    height: 50px;
    padding: 0 0 0 20px;
    border: 1px solid $color-brd-input;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: inherit;
    @include font(normal, 500, 13px, 28px);
    color: $color-font-input;
    cursor: url(.../../../images/icons/icon-cursor.svg), auto;

    &_dark {
      color: $color-ft-n;
      opacity: .5;
    }

    &:focus {
      outline: none;
      border-color: $color-brd-input-focus;
    }

    &:hover::placeholder {
      color: $color-font-input-hvr;
      transition: color .2s;
    }
  }

  &__input-button {
    display: none;
    padding: 0;
    border: none;
    background-color: transparent;
    @include font(normal, 500, 13px, 28px);
    position: absolute;
    top: 11px;
    right: 22px;
    z-index: 3;

    &:hover {
      cursor: url(.../../../images/icons/icon-cursor.svg), auto;
    }

    &__input-button_active {
      display: block;
    }
  }

  &__wrapper {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__copyright {
    margin: 0;
    @include font(normal, 600, 14px, 20px);
    color: $color-ffc;

    &_dark {
      color: $color-ffc-n;
    }
  }

  &__logo {
    display: none;
  }

  @media screen and (max-width: 320px) {
    padding: 60px 18px 25px;

    &__form {
      padding-top: 40px;
      max-width: 284px;
      width: 100%;
    }

    &__wrapper {
      align-items: center;
      padding-top: 90px;
    }

    &__copyright {
      @include font(normal, 500, 14px, 20px);
    }

    &__logo {
      display: block;
      width: 38px;
      height: 38px;
      background-image: url(.../../../images/icons/logo-color-main.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}