.motivation-text {
  margin: 0;
  width: 470px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__quote {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;

    & p {
      margin: 0;
    }
  }
}