.motivation-text {
  margin: 0;
  width: 470px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__quote {
    margin: 0;
    @include font(normal, 600, 34px, 44px);
    letter-spacing: -.5px;

    & p {
      margin: 0;
    }
  }

  @media screen and (max-width: 320px) {
    max-width: 284;
    width: 100%;
    padding-left: 0;

    &__quote {
      padding-top: 40px;
      @include font(normal, 600, 23px, 29px);
    }
  }
}