.motivation-text {
  margin: 0;
  width: 470px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__quote {
    margin: 0;
    @extend %font-quote;

    & p {
      margin: 0;
    }
  }
}