.variety {
  padding-top: 60px;
  padding-left: 120px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  &__title {
    margin: 0;
    @include font(normal, 700, 55px, 60px);
    letter-spacing: -.5px;
  }

  &__subtitle {
    max-width: 460px;
    width: 100%;
    margin: 0;
    padding-top: 50px;
    @include font(normal, 400, 18px, 28px);
    color: $color-fst;
    opacity: .7;

    &_dark {
      color: $color-as-n;
    }
  }

  @media screen and (max-width: 320px) {
    height: 505px;
    padding: 40px 18px;
  }

  &__title {
    @include font(normal, 700, 32px, 40px);

    &::before {
      content: '';
      margin-bottom: 40px;
      width: 264px;
      height: 0;
      display: inline-block;
      align-self: center;
      border: 1px solid $color-brd;
    }
  }

  &__subtitle {
    max-width: 284px;
    padding-top: 0;
    @include font(normal, 400, 12px, 18px);
    position: absolute;
    top: 375px;
  }
}