.variety {
  padding-top: 60px;
  padding-left: 120px;
  overflow: hidden;
  position: relative;

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
  }

  &__subtitle {
    max-width: 460px;
    margin: 0;
    padding-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
  }
}